.matrix {
    border: 1px solid black;
    width: auto;
    height: auto;
    display: inline-block;
}

.main{
    width: auto;
    height: auto;
    display: inline-block;
}

.about{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.row{
    width: auto;
    height: auto;
}

.cell{
    min-width: 15px;
    min-height: 15px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
}

 
.modal-text{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

.score{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    float: left;
}

.best-score{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    float: right;
}

.snake-body{
    background-color: greenyellow;
}

.snake-head{
    background-color: black;
}

.food{
    background-color: blue;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-top: 275px;
    margin-left: 225px;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
    align-content: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.additional{
    text-align: center;
    align-self: center;
    margin-top: 10px;
}

button{
    font-family: sans-serif;
    font-size: 25px;
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
    align-self: center;
    position: relative; 
    margin-right: 25%;
    margin-left: 24%;
}
